<h1>Log In Here!</h1>

<%= form_with(url: '/login') do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %> <br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "log in"%>
<% end %>

<%= link_to("Home", root_path) %>

  <% if flash[:message] %>
    <div class="field_with_errors"><%= flash[:message] %></div>
    <% end %>
