<% if flash[:message] %>
  <div class="field_with_errors">
  <%= flash[:message] %>
  </div>
<% end %>

<%= display_header(@course) %>

<ul>
<% @notes.created_at.each do |note| %>
  <li> <%= link_to(note.content, note_path(note)) %> </li> 
        <h6> created by: <%= note.user.name %> </h6>
         <h6> course: <%= note.course.name %>
<%end %>
</ul>




<%= display_link_to_new_note(@course) %>
<br>
<%= display_link_to_edit_course(@course)%>
<br>
<%= display_link_to_delete_course(@course) %>


