

<%= display_header(@course) %>

<ol>
<% @notes.each do |note| %>
  <li> <%= link_to(note.content, note_path(note)) %> </li>
<%end %>
</ol>


<%= display_link_to_new_note(@course) %>
<br>
<%= display_link_to_edit_course(@course)%>
<br>
<%= display_link_to_delete_course(@course) %>