<%= render partial: 'shared/flash', locals: { flash: flash } %>

<%= display_header(@course) %>
<h3> <%= display_link_to_new_note(@course) %> </h3>
<br>
<ul>
<% @notes.created_at.each do |note| %>
  <li>  
    <h4> <b> Topic: </b> <%= link_to(note.topic, note_path(note)) %> </h4>
    <h6> <b> Course: </b> <%= note.course.name %> </h6>
    <h6> <b> Created By: </b> <%= note.user.name %> </h6>
  </li> 
<% end %>
</ul>






