<!DOCTYPE html>
<html>
  <head>
    <title>CourseManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
         <% if logged_in? %>
              <h1> <%= current_user.name %> </h1>
            <% else %>
              <h2>log in</h2>
            <% end %>
  <%= button_to("Log in With Google", '/auth/google_oauth2')%>
  <%= link_to  "Log Out", logout_path, method: :delete %>
   <%= link_to  "signup", signup_path %>

  <% if flash[:message] %>
    <div class="field_with_errors"><%= flash[:message] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
